* {
   margin: 0;
   padding: 0;
}

html {
   font-size: 10px;
}

#shit {

   background-color: #ff0000;
   padding: 1.6rem 2.2rem;
   font-size: 2rem;
   text-transform: uppercase;
   border: .56px solid rgba(254, 0, 34, 0.7);
   margin: 2rem;
   border-radius: 4.4px;
   transition: all .4s;
   color: white;
}
#shit:focus {
   box-shadow: 0 0 15px rgba(254, 0, 34, 0.85);

}
#shit:focus:enabled {
   border: 0;
}
